 
h1 {
	font-size: 4em;
	font-family: 'Lato';
	color: black;
	margin:0;
  padding:50;
}

h1, h2, h3 {
  font-weight: bold;
}

h2 {
  text-decoration: underline;
}
p {
	margin: 0;
	padding: 0;
}

.buttonlink {
  width:600px; 
  height:30px;
  margin-bottom: 20px;
}
.section{
  text-align:center;
  background-size: cover;
}


.slide {
	background-size: cover;
}


#pageHome {
	background-image: url(../imgs/corona.jpg); 
}

#pageToday, #btn1{
  background-color: lightskyblue;
}

#pageCases, #btn3 {
  background-color: aqua;
}

#pageTop10, #btn4 {
  background-color: lightseagreen;
}

#pageTrend, #btn2 {
  background-color: lightyellow;
}

#pageRef, #btn5 {
  background-color: lightsalmon;
}
table.center {
  margin-left:auto; 
  margin-right:auto;
}


#content_div {
	padding: 10px;

}
#content_div p {
    font-weight: bold;
}


 #map {
    margin: 10px 0px 0px 0px;
    padding: 0px;
  }
  
 
  #dateslider {
    margin: 10px 0px 0px 0px;
    font-size: 1.3em;
    font-weight: 700;
  }
  

  .counties {
    position: absolute;
  }
  
  
  .states {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
    stroke-linejoin: round;
  }
  
  
  #legend text {
    font-size: 0.9em;
    color: #333;
    font-weight: 400;
  }
  
  .tooltipMap {
    position: absolute;
    padding: 10px;
    margin: 10px;
    font-size: 0.9em;
    pointer-events: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  
    -moz-box-shadow:    3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  }
  
  .tooltipMap p {
    margin: 0;
    padding: 0;
  }
  
  .tooltipMap table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
  }

  .mainChart {
    width: 500px; 
    height: 400px; 
    padding: 10px; 
    margin: 10px;
  }

  .mainThead {
    width:500px; 
    height: 40px; 
    background-color: black; 
    color: white; 
    font-size: large;
  }

  .tooltipMain {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font-size: 0.9em;
    pointer-events: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  
    -moz-box-shadow:    3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  }

  .topThead {
    width:500px; 
    height: 30px; 
    background-color: black; 
    color: white; 
    font-size: large;
  }

  .stateChat {
    width:100px;
    height:80px;
  }

  .divborder {
    border-width: 2px; 
    border-color: black; 
    border-style: solid;
  }